{{#> layouts/main }}
<div class="">
    <nav class="breadcrumb is-inline-block is-size-5 mb-0" aria-label="breadcrumbs">
        <ul>
            <li><a class="has-text-black" href="#">{{ library.name }}</a></li>
            <li class="is-active"><a class="has-text-black" href="#" aria-current="page">test</a></li>
            <div class="button is-small">
                +
            </div>
        </ul>
    </nav>
    <div class="is-pulled-right is-inline-block">
        <div class="buttons">
            <div class="button is-small">
                Display
            </div>
            <div class="button is-small">
                Sort
            </div>
            <div class="button is-small">
                Info
            </div>
            <div class="button is-small">
                ...
            </div>
        </div>
    </div>
    <hr class="my-2">
    <table class="table is-fullwidth">
        <thead>
            <tr class="file-list">
                <td style="width:0"><input type="checkbox" /></td>
                <td style="width:0"></td>
                <td style="width:0"></td>
                <td>Name </td>
                <td>Size </td>
                <td>Last Updated </td>
                <td>Owner </td>
            </tr>
        </thead>
        <tbody>
            {{#each files }}
                <tr class="file-list">
                    <td><input type="checkbox" /></td>
                    <td>
                        <a class="has-text-black">
                            <span class="icon is-large">
                                <i class="fas fa-star fa-xl"></i>
                            </span>
                        </a>
                    </td>
                    <td class="filecell-icon">
                        <span class="icon is-large">
                            {{#if (eq type "folder") }}
                                <i class="fas fa-folder fa-xl"></i>
                            {{/if}}
                            {{#if (eq type "file") }}
                                <i class="fas fa-file fa-xl"></i>
                            {{/if}}
                        </span>
                    </td>
                    <td class="filecell-label pl-4">
                        {{#if (eq type "folder")}}
                        <a href="{{ path }}">{{ path }}/</a>
                        {{/if}}
                        {{#if (eq type "file") }}
                         <a target="_blank" href="/file/{{../library.id}}/{{ path }}">{{ path }}</a>
                        {{/if}}
                    </td>
                    <td>{{ bytes size }}</td>
                    <td>{{ updated }}</td>
                    <td>Me</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/layouts/main}}
