{{#> layouts/main }}
    <div class="">
        <h4 class="title is-4 is-inline">Libraries</h4>
        <div class="is-pulled-right is-inline-block">
            <div class="buttons">
                <div class="button is-small">
                    Display
                </div>
                <div class="button is-small">
                    Sort
                </div>
            </div>
        </div>
        <hr class="my-2">
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <td>Name </td>
                    <td>Created </td>
                    <td>Owner </td>
                </tr>
            </thead>
            <tbody>
                {{#each libraries}}
                <tr>
                    <td class="px-4 py-4">
                        <a href="/library/{{id}}/{{name}}/">{{name}}</a>
                    </td>
                    <td>{{ created_at }}</td>
                    <td>{{ owner_id }}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
{{/layouts/main}}
